@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0D1117] text-[#E6EDF3];
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0D1117;
}

::-webkit-scrollbar-thumb {
  background: #1F6FEB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1F6FEB;
  opacity: 0.8;
}
